@tailwind base;
@tailwind components;
@tailwind utilities;

.top-grad {
    background: -webkit-linear-gradient(180deg,#FF004D, #1F2F98);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
