@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    border: 1px solid red;
} */

/* text gradient class */
.top-grad {
    background: -webkit-linear-gradient(180deg,#FF004D, #1F2F98);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* scroll bar customs */
::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #FF004D;
    border-radius: 10px;
}
